.input-list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-button {
    background-color: white;
    border-radius: 12px;
    padding: 40px;
}


.input-button button{
    background: greenyellow;
    border-radius: 5px;
}

body {
    background-color: rgb(255, 190, 246);
}

ul li{
    border-bottom: 1px solid black;
}

/* 화면 클 때 */
@media (min-width: 480px){
    h2 {
        font-size : 20px;
    }

    input{
        font-size: 15px;
    }

    .input-button{
        padding: 25px;
    }

    ul li {
        font-size: 15px;
    }
}

/* 화면 작을 때 */
@media (max-width: 767px){
    h2{
        font-size:30px;
    }

    input{
        font-size:20px;
    }

    .input-button{
        padding:50px;
    }
}
