.input-list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-button button{
    background: greenyellow;
    border-radius: 5px;
}
